@model GenericViewModel

<h2>Kullanıcı Bilgilerini Düzenle</h2>

<form asp-action="Register" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />

    <div class="form-group">
        <label asp-for="Username">Kullanıcı Adı</label>
        <input asp-for="Username" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Firstname">Ad</label>
        <input asp-for="Firstname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Lastname">Soyad</label>
        <input asp-for="Lastname" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Password">Şifre</label>
        <input asp-for="Password" type="password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="RePassword">Şifre Tekrarı</label>
        <input asp-for="RePassword" type="password" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Kaydol</button>
</form>