@{
    ViewData["Title"] = "Home Page";
}




<link rel="stylesheet" href="~/css/style.css" />
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>BestFriendQuiz</h1>
        <div class="wrapper">

            <a href="~/Survey/Survey">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Create a Quiz

            </a>
            <a href="~/Account/Login">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
            </a>
            <a href="~/Account/Register">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Signup
            </a>

              <a href="~/Guest/Index">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Linkten Anket Sonuçlarına Git
            </a>
        </div>
    </div>
</body>